In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('adidas.csv')

In [4]:
df.shape

(9648, 12)

In [5]:
df.dtypes

Retailer        object
invoice_date    object
Region          object
State           object
City            object
Product         object
unit_price      object
units_sold      object
total_sales     object
profit          object
margin          object
sales_method    object
dtype: object

In [6]:
df.tail(5)

,Retailer,invoice_date,Region,State,City,Product,unit_price,units_sold,total_sales,profit,margin,sales_method
9643,Foot Locker,1/24/2021,Northeast,New Hampshire,Manchester,Men's Apparel,$50.00,64,"$3,200",$896,28%,Outlet
9644,Foot Locker,1/24/2021,Northeast,New Hampshire,Manchester,Women's Apparel,$41.00,105,"$4,305","$1,378",32%,Outlet
9645,Foot Locker,2/22/2021,Northeast,New Hampshire,Manchester,Men's Street Footwear,$41.00,184,"$7,544","$2,791",37%,Outlet
9646,Foot Locker,2/22/2021,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,$42.00,70,"$2,940","$1,235",42%,Outlet
9647,Foot Locker,2/22/2021,Northeast,New Hampshire,Manchester,Women's Street Footwear,$29.00,83,"$2,407",$650,27%,Outlet

In [7]:
df.rename(columns={'Price per Unit' : 'unit_price'}, inplace=True)

In [8]:
df.rename(columns={'Retailer ID' : 'retailer_id'}, inplace=True)

In [9]:
df.rename(columns={'Invoice Date' : 'invoice_date'}, inplace=True)

In [10]:
df.rename(columns={'Units Sold': 'units_sold'}, inplace= True)

In [11]:
df.rename(columns={'Operating Profit' : 'profit'}, inplace=True)

In [12]:
df.rename(columns={'Operating Margin' : 'margin'}, inplace=True)

In [13]:
df.rename(columns={'Sales Method' : 'sales_method'}, inplace=True)

In [14]:
df.rename(columns={'Total Sales' : 'total_sales'}, inplace=True)

In [15]:
df.isna().sum()

Retailer        0
invoice_date    0
Region          0
State           0
City            0
Product         0
unit_price      0
units_sold      0
total_sales     0
profit          0
margin          0
sales_method    0
dtype: int64

In [16]:
df = df.dropna()

In [17]:
df.isna().sum()

Retailer        0
invoice_date    0
Region          0
State           0
City            0
Product         0
unit_price      0
units_sold      0
total_sales     0
profit          0
margin          0
sales_method    0
dtype: int64

In [18]:
duplicates = df.duplicated

In [19]:
df = df.drop('retailer_id', axis=1)

KeyError: "['retailer_id'] not found in axis"

In [20]:
df.columns

Index(['Retailer', 'invoice_date', 'Region', 'State', 'City', 'Product',
       'unit_price', 'units_sold', 'total_sales', 'profit', 'margin',
       'sales_method'],
      dtype='object')

In [22]:
df['Retailer'].unique()

array(['Foot Locker', 'Walmart', 'Sports Direct', 'West Gear', "Kohl's",
       'Amazon'], dtype=object)

In [24]:
df['City'].unique()

array(['New York', 'Houston', 'San Francisco', 'Los Angeles', 'Chicago',
       'Dallas', 'Philadelphia', 'Las Vegas', 'Denver', 'Seattle',
       'Miami', 'Minneapolis', 'Billings', 'Knoxville', 'Omaha',
       'Birmingham', 'Portland', 'Anchorage', 'Honolulu', 'Orlando',
       'Albany', 'Cheyenne', 'Richmond', 'Detroit', 'St. Louis',
       'Salt Lake City', 'New Orleans', 'Boise', 'Phoenix', 'Albuquerque',
       'Atlanta', 'Charleston', 'Charlotte', 'Columbus', 'Louisville',
       'Jackson', 'Little Rock', 'Oklahoma City', 'Wichita',
       'Sioux Falls', 'Fargo', 'Des Moines', 'Milwaukee', 'Indianapolis',
       'Baltimore', 'Wilmington', 'Newark', 'Hartford', 'Providence',
       'Boston', 'Burlington', 'Manchester'], dtype=object)

In [26]:
df['Region'].unique()

array(['Northeast', 'South', 'West', 'Midwest', 'Southeast'], dtype=object)

In [28]:
df['State'].nunique()

50

In [30]:
df['Product'].unique()

array(["Men's Street Footwear", "Men's Athletic Footwear",
       "Women's Street Footwear", "Women's Athletic Footwear",
       "Men's Apparel", "Women's Apparel"], dtype=object)

In [32]:
duplicates

<bound method DataFrame.duplicated of          Retailer invoice_date     Region          State        City  \
0     Foot Locker     1/1/2020  Northeast       New York    New York
1     Foot Locker     1/2/2020  Northeast       New York    New York
2     Foot Locker     1/3/2020  Northeast       New York    New York
3     Foot Locker     1/4/2020  Northeast       New York    New York
4     Foot Locker     1/5/2020  Northeast       New York    New York
...           ...          ...        ...            ...         ...
9643  Foot Locker    1/24/2021  Northeast  New Hampshire  Manchester
9644  Foot Locker    1/24/2021  Northeast  New Hampshire  Manchester
9645  Foot Locker    2/22/2021  Northeast  New Hampshire  Manchester
9646  Foot Locker    2/22/2021  Northeast  New Hampshire  Manchester
9647  Foot Locker    2/22/2021  Northeast  New Hampshire  Manchester

                        Product unit_price units_sold total_sales     profit  \
0         Men's Street Footwear    $50.00       1,200   $600,000   $300,000
1       Men's Athletic Footwear    $50.00       1,000   $500,000   $150,000
2       Women's Street Footwear    $40.00       1,000   $400,000   $140,000
3     Women's Athletic Footwear    $45.00         850   $382,500   $133,875
4                 Men's Apparel    $60.00         900   $540,000   $162,000
...                         ...        ...        ...         ...        ...
9643              Men's Apparel    $50.00          64     $3,200       $896
9644            Women's Apparel    $41.00         105     $4,305     $1,378
9645      Men's Street Footwear    $41.00         184     $7,544     $2,791
9646    Men's Athletic Footwear    $42.00          70     $2,940     $1,235
9647    Women's Street Footwear    $29.00          83     $2,407       $650

     margin sales_method
0       50%     In-store
1       30%     In-store
2       35%     In-store
3       35%     In-store
4       30%     In-store
...     ...          ...
9643    28%       Outlet
9644    32%       Outlet
9645    37%       Outlet
9646    42%       Outlet
9647    27%       Outlet

[9648 rows x 12 columns]>

In [34]:
df.to_csv("adidas.csv", index=False)

In [36]:
df['unit_price'] = df['unit_price'].str.replace('$', '')

In [40]:
df['unit_price'] = pd.to_numeric(df['unit_price'])

In [42]:
df['unit_price'].dtype

dtype('float64')

In [48]:
df['total_sales'] = df['total_sales'].str.replace('$', '')
df['total_sales'] = df['total_sales'].str.replace(',', '')
df['total_sales'] = pd.to_numeric(df['total_sales'])

In [51]:
df['units_sold']  = df['units_sold'].str.replace(',','')
df['units_sold']  = pd.to_numeric(df['units_sold'])

In [57]:
df['profit'] = df['profit'].str.replace('$','')
df['profit'] = df['profit'].str.replace(',','')
df['profit'] = pd.to_numeric(df['profit'])

In [60]:
df['margin'] = df['margin'].str.replace('%','')
df['margin'] = pd.to_numeric(df['margin'])

In [66]:
df.dtypes

Retailer                object
invoice_date    datetime64[ns]
Region                  object
State                   object
City                    object
Product                 object
unit_price             float64
units_sold               int64
total_sales              int64
profit                   int64
margin                   int64
sales_method            object
dtype: object

In [68]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'])

In [70]:
df.to_csv('adidas.csv', index=False)